/*Quita las flechas del input numerico*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#carrousel {
}

#carrousel-content1 {
	background-image: url("../images/bg.jpg"); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
        background-position: center;
        padding: 20% 0;
}
#carrousel-content2 {
	background-image: url("../images/bg.jpg"); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
        background-position: center;
        padding: 20% 0;
}
#carrousel-content3 {
	background-image: url("../images/bg.jpg"); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
        background-position: center;
        padding: 20% 0;
}

.contenido {
	margin-top: -22px;
        list-style-type: none;
}

textarea {
    resize: none;
}